:80

root * /srv

# Remove .html extensions and serve index.html in directories
try_files {path} {path}/ {path}.html {path}/index.html

# Rewrite API calls to the backend API
rewrite /api/* {env.API_ENDPOINT}{uri}

bqtruong.com {
    route {
        file_server /index.html
        # Remove .html extensions and serve index.html in directories
        try_files {path} {path}/ {path}.html {path}/index.html
    }
}

log {
    output stdout
    format console
}

# Handle errors
handle_errors {
    respond "Oops! Something went wrong." 500
}
